.ui.placeholder.basic.segment
  %img.ui.centered.small.image{src: 'https://voxpupuli.org/static/images/8bit-vox.png'}
  = link_to '/auth/github', class: 'ui basic button center aligned' do
    Please log in first